body  {background-color:#615186 ;
      text-align: center;
      font-family:Garamond;
      font-size:30px;

    }


      h1 {text-align:"center;"
    font-family:Garamond;}




center {
margin-left: top;
margin-right: top;}


.right {
text-align:bottom;
  }
.left {
text-align: bottom;}
